<div class="event">
  <div class="label">
    <img src="/images/avatar/small/jenny.jpg">
  </div>
  <div class="content">
    <div class="summary">
      <em> <%= message.user.username %> </em>: <%= message.message %>
      <div class="date">
        <%= time_ago_in_words(message.created_at) %> ago
      </div>
    </div>
  </div>
</div><!-- end event -->
