<h2 class="ui center aligned large icon header more-space">
  <i class="circular inverted red user outline icon"></i>
  Welcome <%= @user.username.capitalize %>
</h2>

<h2> Your messages </h2>

<% @user_messages.each do |msg| %>
<p>
  <%= msg.message %> - <%= time_ago_in_words(msg.created_at) %> ago
</p>
<% end %>
