@import "semantic-ui";

$font-color-highlight: #DB2828;

.font-color-highlight {
  background-color: $font-color-highlight !important;
}

.chatbox {
  height: 60vh;
}

#messages {
  overflow: auto;
  height: 15em;
}

.more-space {
  margin-top: 30px !important;
}

.input {
  button {
    display: none; 
  }
}
